
video {
	position: fixed; left:0.25px; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}

h1{
	color: #C8C8C8;
	text-align: center;
	text-shadow: white 0px 0px 25px;
	font-size: 500%;
	margin:auto;
	position:absolute;
	left:34%;
	top:0px;
}

h2{
	color: #C8C8C8;
	text-align: center;
	text-shadow: white 0px 0px 25px;
	font-size: 150%;
	padding-right:15%;
	padding-top: 10%;
	margin:auto;
}

.flashit{
	-webkit-animation: flash linear 2s infinite;
	animation: flash linear 2s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

#load_screen{
	background:black;
	opacity: 1%;
	position:absolute;
	z-index: -100;
	left:0px;
	width:103%;
	height:100%;
	top:0px;
}

#loading{
	position: relative;
	color:white;
	font-size:50px;
	margin:300px auto;
	text-align: center;
}

#contact{
	position:absolute;
	right:0px;
	width:120px;
	top:20%;

}
#contact li{
	right:75px;
	z-index:-200;
	list-style-type: none;
}
#contact img{
	height: 75px;
	width: 75px;
}

.aboutpara{
	position:absolute;
	padding:9px;
	top:12.5%;
	max-height:75%;
	width:20%;
	overflow:auto;
	border-style:solid;
	border-width: 3px;
	border-color:#D8D8D8;
	z-index: 2;
}

.aboutpara p{
	color: white;
	margin-top:none;
}

.aboutpara a{
	color:white;
}

#mreference p{
	color:#D8D8D8;
	text-decoration: none;
	
}

#mreference :hover{
	color:white;
	font-size:23px;
}

#mreference li {
	color:#D8D8D8 ;
	display:inline-block;
	text-shadow: white 0px 0px 20px;
	position: relative; 
	z-index:100; 
	font-size:20px;
	padding:1%;
}
#mreference a{
	display:block;
	text-decoration: none;
	color:#D8D8D8;
	font-size:20px;
}

#mreference li:hover ul{
	display:block;
	bottom:100%;
	margin:auto;
	position: absolute;

}

#mreference ul li{
	border-width:1px;
	border-style:solid;
	border-color:#383838;
	display:block;
	padding:5px;
	background:#484848 ;
}
#mreference ul li a{
	font-size:17px;

}
#mreference ul{
	background:none;
	box-shadow:none;
	display:none;
	right:1%;
	min-width:100%;
}

footer {
	bottom:4%;
	position:absolute;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width:100%;
	height:5%;

}


footer ul{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  	padding:none;
  	margin:none;
}